*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
}
.tex{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px 0;
}
.tex h1{
  font-size: 40px;
}
.tex h2{
  font-size: 30px;
}
.tex h2 span{
  color: red;
}
.timer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.get{
  margin-top: 25px;
  background-color: green;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.get h2{
  color: #fff;
}
.crate{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.crate .imagetext{
  width: 270px;
  margin: 20px;
  border: 10px solid #fff;
  box-shadow: 0.5px 35px rgba(0,0,0,0.08);
}
.crate .imagetext .imagebox{
  position: relative;
  height: 300px;
  width: 270px;
}
.crate .imagetext .imagebox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
}
.btn{
  font-size: 1.5em;
  color: #fff;
  background-color: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn:hover
{
  background-color: green;
}
.lin{
  margin: 50px 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.lin a{
  position: absolute;
  left: 40%;
}
.jumia-link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.crate .imagetext .link a{
  font-size: 16px;
}
/*.copyrightcover{
  padding: 8px 40px;
  border-top: 1px solid rgba(0,0,0,0.1);
  text-align: center;
  margin: 40px 0;
}
.copyrightcover p{
  color: #333;
}
.copyrightcover a{
  color: blue;
  font-weight: 500;
  text-decoration: none;
}*/

@media (max-width:900px){
  .timer img{
    width: 75%;
  }
  .tex h1{
    font-size: 25px;
  }
  .tex h2{
    font-size: 20px;
  }
  .get{
    margin-top: 20px;
    background-color: green;
    padding: 12px;
  }
  .get h2{
    font-size: 18px;
  }
  .lin a{
    font-size: 18px;
    position: absolute;
    left: 28%;
  }
  .crate{
    margin-top: 25px;
  }
  .crate .imagetext{
    width: 250px;
    margin: 18px;
  }
  .crate .imagetext .imagebox{
    height: 280px;
    width: 250px;
  }
  .crate .imagetext .text h2{
    font-size: 15px;
  }
  .crate .imagetext .link{
    padding: 10px;
  }
  .crate .imagetext .link a{
    font-size: 13px;
  }
}
  
  
  
